h1.menu-title::before {
  content: "";
  display: inline-block;
  background-image: url(./favicon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.8ex;
  height: 1.8ex;
  margin-right: 0.9ex;
  vertical-align: middle;
}
.light {
  --links: #058;
  --sidebar-active: #0af;
}
/* Widen initial menu bar width. It's wider than usual - primary use case
   of site: find module and read its toc. */
:root {
  --sidebar-target-width: min(30% + 200px, 60%);
}
.sidebar .sidebar-scrollbox {
  /* We don't use numbers, so we can take a consistent amount of space */
  padding: var(--page-padding) !important;
}

/* Tweak the toc sidebar */
@media only screen and (min-width: 1440px) {
  .pagetoc {
    width: var(--toc-width) !important;
  }
  main {
    --stock-spare-width: calc(
        1440px - var(--content-max-width) - var(--sidebar-width) - 180px
      ) +
      (100vw - 1440px);
    --toc-width: calc(clamp(0px, var(--stock-spare-width) * 0.8, 500px));
    --spare-width: calc(var(--stock-spare-width) - var(--toc-width));
    margin-left: calc(clamp(0px, var(--spare-width) / 2, 50%)) !important;
  }
}
